@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Victor+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
    background: #121212;
    font-family: 'Barlow', sans-serif;
    color: white;
}

.objeler {
    position: absolute;
    top:0;
    width:100%;
    left:0;
    height:100%;
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index:1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #121212bd;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.first-screen-cards {
    margin-top: 350px;
}

.first-screen-cards h1 {
    font-family: 'Victor Mono', monospace;
}

.first-screen-cards {
    max-width: 500px;
}

.first-screen-cards * {
    margin: 15px 0px;
}

img.logo {
    height: 50px;
}

header .container {
    max-height: 100%;
}

.btn.btn-primary {
    background: transparent;
    border: 1px #ffffff57 solid;
    border-radius: 0px;
    padding: 10px 25px;
    font-weight: 600;
    transition: all 0.5s;
}

.btn.btn-primary:hover {
    background: white;
    border: 1px solid black;
    color: black;
}

section {
    min-height: 100vh;
}

.objeler canvas {
    max-width: 100% !important;
}

.screens {
    display: none;
}

.screens.landing-screen {
    display: block;
}

.container.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button.btn {
    color: white !important;
    font-family: 'Victor Mono', monospace;
    margin-left: 40px;
}

button.btn.active {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-width: 3px;
    padding-bottom: 15px;
}

.mt-6 {
    margin-top: 200px;
}

.fade-in {
    animation: fadeIn 0.2s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@media only screen and (max-width:1280px) {
    .container.header-menu nav {
        display: none;
    }
    
    .first-screen-cards {
        padding: 20px;
    }
}

.references .swiper-slide img {
    height: 200px;
    width: 400px;
}

span.reference-description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: #00000091;
    width: 100%;
    color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-weight: 600;
}

span.reference-description small {
    font-weight: 300;
}

.swiper-slide a {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    width: fit-content;
}

.first-screen-cards.minus-margin-top {
    margin-top: 150px;
}

.service-card {
    display: flex;
    padding: 20px;
    background: #ffffff26;
    border-radius: 10px;
    height: 150px;
    width: 100%;
    align-items: flex-start;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    margin-bottom:20px;
}

.service-icon {
    margin: 10px;
    border-radius: 10px;
    width: 84px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-icon img {
    width: 32px;
    height: 32px;
    mix-blend-mode: overlay;
}

.purple {
    background: purple;
}

.service-description h4 {
    margin-top: 0;
    font-size: 1.3rem;
}

.service-description {
    max-width: calc(100% - 100px);
}

.first-screen-cards.minus-margin-top.left-aligned {
    margin-right: auto;
}

.first-screen-cards.minus-margin-top.right-aligned {
    margin-left: auto;
}

.green {
    background: seagreen;
}

.red {
    background: indianred;
}

.yellow {
    background: yellowgreen;
}

.blue {
    background: cornflowerblue;
}

.gray {
    background: gray;
}

.pink {
    background: hotpink;
}

.orange {
    background: darkorange;
}

img.profile-picture {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 300px;
    margin: 0px 20px 20px 0px;
}