@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Victor+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
    background: #121212;
    font-family: 'Barlow', sans-serif;
    color: white;
}

.objeler {
    position: absolute;
    top:0;
    width:100%;
    left:0;
    height:100%;
    z-index: -1;
    filter: blur(2px);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index:1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #121212bd;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.first-screen-cards {
    margin-top: 250px;
}

.first-screen-cards h1 {
    font-family: 'Victor Mono', monospace;
}

.first-screen-cards {
    max-width: 500px;
}

.first-screen-cards * {
    margin: 15px 0px;
}
